.dashboard {
  position: relative;
  height: 80vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  color: "#bfbfbf";
  opacity: 0.5;
}

.dashboard.container {
  display: flex;
  align-items: center;
}

.grid-item-1 {
  flex: 1;
  height: 300px;
  margin: 0 20px;
}

.grid-item-2 {
  flex: 1;
  height: 300px;
  margin: 0 20px;
}

.grid-item-3 {
  flex: 1;
  height: 300px;
  margin: 0 20px;
}

.statistics {
  display: flex;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
}

.stat-item {
  flex: 1;
}

.site-statistics-demo-card{
  margin-left: 50px;
  margin-top: 20px;;
}