.logo {
  /* margin-right: 10px;
  margin-left: 30px; */
  margin: auto 30px;
  color: black;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
  float: left;
}

.right {
  float: right;
  height: 100%;
}

.MenuButton{
  z-index: 1;
  background-color: blue ;
  color: white;
}

.menuitem{
  text-emphasis-color:  white;
}

.your-active-class{
  color: white;
}

Menu.item icon{
  color: blue;
}