@import "../../../node_modules/antd/dist/antd.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.noDisplay {
  display: none;
}

.mainApp {
  display: block;
  height: 100vh;
}

@media (max-width: 1050px) {
  .noDisplay {
    display: block;
  }

  .mainApp {
    display: none;
  }
}

@media (max-height: 670px) {
  .noDisplay {
    display: block;
  }

  .mainApp {
    display: none;
  }
}
